{
  "model_file":{
    "model_dir": "trained_model/svm",
    "model_name": "freeze_incp_v5_svm.pkl",
    "restoration_model_required":true,
    "restore_model":{
      "model":"trained_model/nn_inception_v5/1freeze_inception_net_v5_120_37.pb",
      "model_graph":"trained_model/nn_inception_v5/1freeze_inception_net_v5_grpah_120_37.pb"
    }
  },
  "image" : {
    "width":120,
    "height":120,
    "resize_required":false
  }
}
