{
  "model_file":{
    "model_dir": "trained_model/svm_facenet",
    "model_name": "freeze_facenet_svm.pkl",
    "restoration_model_required":true,
    "restore_model":{
      "model":"trained_model/svm_facenet/20170512-110547.pb.pb",
      "model_graph": ""
    }
  },
  "image" : {
    "width":160,
    "height":160,
    "resize_required":false
  }
}
