{
  "training":{
    "training_steps":50,
    "batch_size":30,
    "learning_rate":0.001,
    "stopping_loss_threshold_from_previous": 100,
    "optimizer":"adam",
    "loss":"softmax_cross_entropy",
    "regularization_beta":0.01,
    "nn_input_size":"auto",
    "nn_output_size":"auto",
    "tensor_name":"auto",
    "class_label_no": 37
  },
  "model_file":{
    "model_dir": "trained_model/nn_inception_v1",
    "model_name": "freeze_inception_net_v1_120_37.pb",
    "model_graph":"freeze_inception_net_v1_grpah_120_37.pb",
    "restoration_model_required":false,
    "restore_model":{
      "model":"trained_model/nn_inception_v1/freeze_inception_net_v1_120_new_37.pb",
      "model_graph":"trained_model/nn_inception_v1/freeze_inception_net_v1_grpah_120_new_37.pb"
    }
  },
  "image" : {
    "width":120,
    "height":120,
    "resize_required":false
  },
  "deep_neural_network":[
                {
                  "name": "conv0",
                  "type": "conv",
                  "filters": 32,
                  "kernel": [3, 3],
                  "strides": [1, 1],
                  "padding": "SAME",
                  "activation": "relu",
                  "output":"120x120x32"
                },
                {
                  "name": "maxpool0",
                  "type": "maxpool",
                  "pool_size": [2, 2],
                  "strides": 2,
                  "output":"60x60x32"
                },
                {
                  "name": "conv1",
                  "type": "conv",
                  "filters": 64,
                  "kernel": [3, 3],
                  "strides": [1, 1],
                  "padding": "SAME",
                  "activation": "relu",
                  "output":"60x60x64"
                },
                {
                  "name": "maxpool1",
                  "type": "maxpool",
                  "pool_size": [2, 2],
                  "strides": 2,
                  "output":"30x30x64"
                },
                {
                  "name": "inception_1a",
                  "type": "inception",
                  "block": [
                              [
                                {
                                  "name": "conv0",
                                  "type": "conv",
                                  "filters": 32,
                                  "kernel": [1, 1],
                                  "strides": [1, 1],
                                  "padding": "SAME",
                                  "activation": "relu",
                                  "output":"30x30x128"
                                }
                              ],
                              [
                                {
                                  "name": "conv1",
                                  "type": "conv",
                                  "filters": 16,
                                  "kernel": [1, 1],
                                  "strides": [1, 1],
                                  "padding": "SAME",
                                  "activation": "relu",
                                  "output":"30x30x64"
                                },
                                {
                                  "name": "conv2",
                                  "type": "conv",
                                  "filters": 32,
                                  "kernel": [3, 3],
                                  "strides": [1, 1],
                                  "padding": "SAME",
                                  "activation": "relu",
                                  "output":"30x30x128"
                                }
                              ],
                              [
                                {
                                  "name": "conv3",
                                  "type": "conv",
                                  "filters": 16,
                                  "kernel": [1, 1],
                                  "strides": [1, 1],
                                  "padding": "SAME",
                                  "activation": "relu",
                                  "output":"30x30x64"
                                },
                                {
                                  "name": "conv4",
                                  "type": "conv",
                                  "filters": 32,
                                  "kernel": [5, 5],
                                  "strides": [1, 1],
                                  "padding": "SAME",
                                  "activation": "relu",
                                  "output":"30x30x64"
                                }
                              ],
                              [
                                {
                                  "name": "maxpool1",
                                  "type": "maxpool",
                                  "pool_size": [2, 2],
                                  "strides": 2,
                                  "output":"15x15x32"
                                },
                                {
                                  "name": "conv4",
                                  "type": "conv",
                                  "filters": 32,
                                  "kernel": [1, 1],
                                  "strides": [1, 1],
                                  "padding": "SAME",
                                  "activation": "relu",
                                  "output":"15x15x64"
                                }
                              ]
                  ]
                },
                {
                  "name": "conv2",
                  "type": "conv",
                  "filters": 64,
                  "kernel": [5, 5],
                  "strides": [1, 1],
                  "padding": "SAME",
                  "activation": "relu",
                  "output":"30x30x64",
                  "input":"30x30x128"
                },
                {
                  "name": "maxpool2",
                  "type": "maxpool",
                  "pool_size": [2, 2],
                  "strides": 2,
                  "output":"15x15x128"
                },
                {
                  "name": "conv3",
                  "type": "conv",
                  "filters": 128,
                  "kernel": [5, 5],
                  "strides": [1, 1],
                  "padding": "SAME",
                  "activation": "relu",
                  "output":"30x30x128"
                },
                {
                  "name": "maxpool3",
                  "type": "maxpool",
                  "pool_size": [2, 2],
                  "strides": 2,
                  "output":"15x15x128"
                },
                {
                  "name": "flat",
                  "type": "flat",
                  "output":"1x1x28800"
                },
                {
                  "name": "dense0",
                  "type": "dense",
                  "activation": "relu",
                  "units": 1024
                },
                {
                  "name": "dense1",
                  "type": "dense",
                  "activation": "relu",
                  "units": 512
                },
                {
                  "name": "output",
                  "type": "output",
                  "units": 37
                }
              ]
}
