{
  "nn" :
  {
    "1" :{
            "model": "trained_model/nn_cnn/1freeze_conv_net_120.pb",
            "classifier": "trained_model/nn_cnn/classifier_1.pickle",
            "tensors": ["input_tensor","output_tensor","predicted_class_probabilities","output/BiasAdd"]
          },
    "3" :{
            "model": "trained_model/nn_cnn/3freeze_conv_net_120.pb",
            "classifier": "trained_model/nn_cnn/classifier_3.pickle",
            "tensors": ["input_tensor","output_tensor","predicted_class_probabilities","output/BiasAdd"]
          }
  },
  "inceptionv1" :
  {
    "1" :{
            "model": "trained_model/nn_inception_v1/1freeze_inception_net_v1_120.pb",
            "classifier": "trained_model/nn_inception_v1/classifier_inceptionv1_1.pickle",
            "tensors": ["input_tensor", "output_tensor", "predicted_class_probabilities", "output/BiasAdd"]
          },
    "3" :{
            "model": "trained_model/nn_inception_v1/3freeze_inception_net_v1_120.pb",
            "classifier": "trained_model/nn_inception_v1/classifier_inceptionv1_3.pickle",
            "tensors": ["input_tensor", "output_tensor", "predicted_class_probabilities", "output/BiasAdd"]
          }
  },
  "inceptionv5" :
  {
    "1" :{
            "model": "trained_model/nn_inception_v5/1freeze_inception_net_v5_120.pb",
            "classifier": "trained_model/nn_inception_v5/classifier_inceptionv5_1.pickle",
            "tensors": ["input_tensor", "output_tensor", "predicted_class_probabilities", "output/BiasAdd", "embedding/BiasAdd"]
          },
    "3" :{
            "model": "trained_model/nn_inception_v5/3freeze_inception_net_v5_120.pb",
            "classifier": "trained_model/nn_inception_v5/classifier_inceptionv5_3.pickle",
            "tensors": ["input_tensor", "output_tensor", "predicted_class_probabilities", "output/BiasAdd", "embedding/BiasAdd"]
          }
  },
  "svm_facenet" :
  {
    "1" :{
            "model": "trained_model/facenet/20170512-110547.pb",
            "svm_model":"trained_model/svm_facenet/freeze_facenet_svm_1.pkl",
            "classifier": "trained_model/svm_facenet/classifier_svm_facenet_1.pickle",
            "tensors": ["input", "embeddings", "phase_train"]
          },
    "3" :{
            "model": "trained_model/facenet/20170512-110547.pb",
            "svm_model":"trained_model/svm_facenet/freeze_facenet_svm_3.pkl",
            "classifier": "trained_model/svm_facenet/classifier_svm_facenet_3.pickle",
            "tensors": ["input", "embeddings", "phase_train"]
          }
  },
  "facenet" :
  {
    "1" :{
            "model": "trained_model/facenet/20170512-110547.pb",
            "classifier": "trained_model/facenet/lfw_classifier.pickle",
            "tensors": ["input", "embeddings", "phase_train"]
          },
    "3" :{
            "model": "trained_model/facenet/20170512-110547.pb",
            "classifier": "trained_model/facenet/lfw_classifier.pickle",
            "tensors": ["input", "embeddings", "phase_train"]
          }
  },
  "svm" :
  {
    "1" :{
            "model": "trained_model/nn_inception_v5/1freeze_inception_net_v5_120.pb",
            "svm_model":"trained_model/svm/freeze_nn_svm_1.pkl",
            "classifier": "trained_model/svm/classifier_nn_svm_1.pickle",
            "tensors": ["input_tensor", "output_tensor", "predicted_class_probabilities", "output/BiasAdd", "embedding/BiasAdd"]
          },
    "3" :{
            "model": "trained_model/nn_inception_v5/3freeze_inception_net_v5_120.pb",
            "svm_model":"trained_model/svm/freeze_nn_svm_3.pkl",
            "classifier": "trained_model/svm/classifier_nn_svm_3.pickle",
            "tensors": ["input_tensor", "output_tensor", "predicted_class_probabilities", "output/BiasAdd", "embedding/BiasAdd"]
          }
  }
}