{
  "training":{
    "training_steps":10,
    "batch_size":30,
    "learning_rate":0.001,
    "stopping_loss_threshold_from_previous": 100,
    "optimizer":"adam",
    "loss":"softmax_cross_entropy",
    "regularization_beta":0.01,
    "nn_input_size":"auto",
    "nn_output_size":"auto",
    "tensor_name":"auto",
    "class_label_no": 30
  },
  "model_file":{
    "model_dir": "trained_model/nn_cnn",
    "model_name": "freeze_conv_net.pb",
    "model_graph":"freeze_conv_net_grpah.pb",
    "restoration_model_required":false,
    "restore_model":{
      "model":"trained_model/nn_cnn/freeze_conv_net.pb",
      "model_graph":"trained_model/nn_cnn/freeze_conv_net_grpah.pb"
    }
  },
  "image" : {
    "width":180,
    "height":180,
    "resize_required":false
  },
  "deep_neural_network":[
                {
                  "name": "conv0",
                  "type": "conv",
                  "filters": [1, 3, 3, 1],
                  "strides": [1, 1, 1, 1],
                  "padding": "SAME",
                  "width": -1,
                  "height": -1,
                  "weights": [3, 3, 1, 32],
                  "output":"180x180x32"
                },
                {
                  "name": "relu0",
                  "type": "relu",
                  "flatten": false,
                  "output":"180x180x32"
                },
                {
                  "name": "maxpool0",
                  "type": "maxpool",
                  "filters": [1, 2, 2, 1],
                  "strides": [1, 2, 2, 1],
                  "padding": "SAME",
                  "output":"90x90x32"
                },
                {
                  "name": "conv1",
                  "type": "conv",
                  "filters": [1, 3, 3, 1],
                  "strides": [1, 1, 1, 1],
                  "padding": "SAME",
                  "width": -1,
                  "height": -1,
                  "weights": [3, 3, 32, 64],
                  "output":"90x90x64"
                },
                {
                  "name": "relu1",
                  "type": "relu",
                  "flatten": false,
                  "output":"90x90x64"
                },
                {
                  "name": "maxpool1",
                  "type": "maxpool",
                  "filters": [1, 2, 2, 1],
                  "strides": [1, 2, 2, 1],
                  "padding": "SAME",
                  "output":"45x45x64"
                },
                {
                  "name": "conv2",
                  "type": "conv",
                  "filters": [1, 3, 3, 1],
                  "strides": [1, 1, 1, 1],
                  "padding": "SAME",
                  "weights": [3, 3, 64, 128],
                  "output":"45x45x128"
                },
                {
                  "name": "flatten_relu3",
                  "type": "relu",
                  "flatten": true,
                  "output":"1x1x259200"
                },
                {
                  "name": "fc1",
                  "type": "fc",
                  "weights": [259200, 512]
                },
                {
                  "name": "output",
                  "type": "fc",
                  "weights": [512, 30]
                },
                {
                  "name": "prediction",
                  "type": "prediction",
                  "method": "softmax",
                  "weights": [30]
                }
              ]
}
